@media screen and (max-width: 700px) {
    .header__top-items {
        display: none;
    }
    .main__title h1{
        padding-left: 30px;
        padding-right: 30px;

    }
   .main{
       height: 400px;
   }
    .main__right{
      display: none; 
    }
}
@media screen and (min-width: 700px){
    .burger{
        display: none;
    } 
    .test{
        display: none;
    }
}
@media screen and (max-width: 470px){
    .about-us__content-item, .about-us__content-item img{
        width: 300px;
        border-radius: 30px;
    }
    .contacts__content-footer p{
        font-size: 1.7em;

    }
  .contacts__content-adress p{
      font-size: 1.7em;
  }
} 

@media screen and (max-width: 1020px) {
    .main__title h1 {
      font-size: 50px;
    }
    .main__left{
        width: 900px;
    }
    .main__title{
        width: 100%;
    }
    .main__right-img{
        width: 400px;
    }
}
@media screen and (max-width: 405px){
    .about-us__content-item, .about-us__content-item img{
        width: 250px;
        border-radius: 20px;

    }
    .main__title h1 {
        font-size: 40px;
      }
      .contacts__content-footer p{
        font-size: 1.5em;

    }
  .contacts__content-adress p{
      font-size: 1.5em;
      padding: 20px 10px 20px 10px;

  }
}
@media screen and (max-width: 342px){
    .main__title h1 {
        font-size: 30px;
      } 
      .contacts__content-footer p{
        font-size: 1.3em;

    }
  .contacts__content-adress p{
      padding: 0 10px 0 10px;
      font-size: 1.3em;
  }
}